server {
	##
	# Basic Settings
	#
	listen 80;
	server_name {{domain_name}};

	root /var/www/html/{{domain_name}};
	index index.html;

	##
	# Path & Error Settings
	##
	location / {
		if ($request_uri ~ ^/(.*)\.html) {
			return 302 /$1;
		}
		
		try_files $uri $uri.html $uri/ =404;
	}

	error_page 404 /404.html;
	location  /404.html {
		internal;
	}
	
	
	##
	# Logging Settings
	##
	access_log  /var/log/nginx/{{domain_name}}_access.log;
	error_log   /var/log/nginx/{{domain_name}}_error.log;	
	
	location  /robots.txt {
		access_log off;
	}
	
	location ~ /favicon.png {
		access_log off;
	}
	

	##
	# Gzip Settings
	##
	gzip on;
	gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;
}
