# Fail2Ban configuration local file.
# It will overwrite default config values
# {{ ansible_managed }}


[DEFAULT]

#
# ACTIONS
#

destemail = {{ sysadmin_email }}


[sshd]
enabled   = true
maxretry  = 3
findtime  = 600
bantime   = 3600
port    = {{ ssh_port | default(22) }}
logpath = %(sshd_log)s
backend = %(sshd_backend)s
