include /etc/nginx/snippets/maps.conf;

upstream owntrackbackend {
	server	127.0.0.1:{{owntracks_port}};
}

server {
	if ($host = {{owntracks_domain_name}}) {
		return 301 https://$host$request_uri;
	}
	
	listen 80;
	server_name {{owntracks_domain_name}};
	return 404;
}

server {
	##
	# Basic Settings
	#
	listen 443 ssl;
	server_name {{owntracks_domain_name}};

	root /var/www/html/{{owntracks_domain_name}};
	index index.html;

	charset utf-8;
	expires $expires;
	include /etc/nginx/snippets/headers.conf;	
	include /etc/nginx/snippets/cloud-flare-ips.conf;

	##
	# SSL Settings
	##
	ssl_certificate /etc/letsencrypt/live/{{owntracks_domain_name}}/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/{{owntracks_domain_name}}/privkey.pem;
	include /etc/letsencrypt/options-ssl-nginx.conf;
	ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

	##
	# Path & Error Settings
	##
	location / {
		auth_basic "Who are you?";
		auth_basic_user_file /etc/nginx/.htpasswd-otr;
		proxy_pass http://owntrackbackend;
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
	}

	error_page 404 /404.html;
	location  /404.html {
		internal;
	}
	
	##
	# Logging Settings
	##
	access_log  /var/log/nginx/{{owntracks_domain_name}}_access.log;
	error_log   /var/log/nginx/{{owntracks_domain_name}}_error.log;	
	
	location  /robots.txt {
		access_log off;
	}
	
	location ~ /favicon.png {
		access_log off;
	}
	

	##
	# Gzip Settings
	##
	gzip on;
	gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;
}