{{ ansible_managed | comment }}

[Unit]
Description=Starts the owntracks server
Requires=network.target
After=network.target
 
[Service]
Type=simple
User={{ login_user }}
Group={{ login_user }}
WorkingDirectory=/var/www/html/{{owntracks_directory_name}}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ owntracks_binary_install_dir }}/ot-recorder --config /var/www/html/{{owntracks_directory_name}}/config.yml serve

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
