{% if enable_ssl %}
server {
	if ($host = {{firefly3_domain}}) {
		return 301 https://$host$request_uri;
	}

	listen 80;
	server_name {{firefly3_domain}};
	return 404;
}
{% endif %}

server {
	##
	# Basic Settings
	#
{% if enable_ssl %}
	listen 443 ssl;
{% else %}
	listen 80;
{% endif %}
	server_name {{firefly3_domain}};

	root /var/www/html/{{firefly3_domain}}/public;
	index index.php;

{% if enable_ssl %}
	include /etc/nginx/snippets/headers.conf;	
	include /etc/nginx/snippets/cloud-flare-ips.conf;

	##
	# SSL Settings
	##
	ssl_certificate /etc/letsencrypt/live/{{firefly3_domain}}/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/{{firefly3_domain}}/privkey.pem;
	include /etc/letsencrypt/options-ssl-nginx.conf;
	ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
{% endif %}
	##
	# Path & Error Settings
	##
	location / {
		try_files $uri $uri/ /index.php?$query_string;
	}

	location = /favicon.ico { access_log off; log_not_found off; }
	location = /robots.txt  { access_log off; log_not_found off; add_header Content-Type text/plain; return 200 "User-agent: *\nDisallow: /\n";}
	location ~ /\.ht { deny all; }

	error_page 404 /index.php;

	##
	# Logging Settings
	##
	access_log  /var/log/nginx/{{firefly3_domain}}_access.log;
	error_log   /var/log/nginx/{{firefly3_domain}}_error.log;

	##
	# PHP
	##
	location ~ \.php$ {
		fastcgi_pass unix:/var/run/php/php{{php_version}}-fpm.sock;
		fastcgi_index index.php;
		fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
		include fastcgi_params;
	}
	
}
