include /etc/nginx/snippets/maps.conf;

server {
	if ($host = {{mail_domain}}) {
		return 301 https://$host$request_uri;
	}

	listen 80;
	listen [::]:80 ipv6only=on;
	server_name {{mail_domain}};
	return 404;
}

server {
	##
	# Basic Settings
	#
	
	listen 443 ssl;
	listen [::]:443 ssl ipv6only=on;
	server_name {{mail_domain}};

	charset utf-8;
	expires $expires;
	include /etc/nginx/snippets/headers.conf;	
	include /etc/nginx/snippets/cloud-flare-ips.conf;

	##
	# SSL Settings
	##
	ssl_certificate /etc/letsencrypt/live/{{mail_domain}}/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/{{mail_domain}}/privkey.pem;
	include /etc/letsencrypt/options-ssl-nginx.conf;
	ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

	##
	# Path & Error Settings
	##
	location / {
		default_type text/html;
		return 200 '<!doctypehtml><html lang=en><meta charset=UTF-8><meta content="IE=edge"http-equiv=X-UA-Compatible><meta content="width=device-width,initial-scale=1"name=viewport><title>☠X☠</title><div align=center style=font-size:30px>☠ Go Back! You\'re in Area X ☠</div>';
	}

	error_page 404 /404.html;
	location  /404.html {
		internal;
	}
	
	##
	# Logging Settings
	##
	access_log  /var/log/nginx/{{mail_domain}}_access.log;
	error_log   /var/log/nginx/{{mail_domain}}_error.log;	
	
	location  /robots.txt {
		default_type text/plain;
		return 200 'User-agent: *\nDisallow: /';
	}
	
	location ~ /favicon.ico {
		return 404;
	}
}